# Stock Provider Secrets
FINNHUB_API_KEY_1=dag9ggpr01quf8mtbus0dag9ggpr01quf8mtbusg
FINNHUB_API_KEY_2=dajunfhr01qrg9hppa10dajunfhr01qrg9hppa1g
ALPACA_API_KEY_ID=PK181E99T1E1K8N1O111
ALPACA_API_SECRET_KEY=SK181E99T1E1K8N1O111SecretKeyHere
GEMINI_API_KEY=

# Firebase Client Configuration
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0136413843
VITE_FIREBASE_APP_ID=1:72228334805:web:48ef515b7cbf488293465c
VITE_FIREBASE_API_KEY=AIzaSyBwWkHo-psher-xQUkFZCiRi2xUZIoE2vA
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0136413843.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=ai-studio-df43d03e-610d-472a-82b9-07b668c9d5ea
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0136413843.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=72228334805